Package: sysmon-modbus
Version: 2.0
Architecture: amd64
Maintainer: Lilit Oganisyan <l.oganisyan@voentelecom.ru>
Section: sysmon
Priority: optional
Homepage: http://www.voentelecom.ru/
Description: Sysmon Modbus
